version: '3.9'

services:
  db:
    image: postgres:15
    container_name: aimalya_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: aimalya_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d aimalya_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: aimalya_web
    restart: always
    env_file:
      - ./aimalya/.env
    command: gunicorn aimalya.wsgi:application --bind 0.0.0.0:8000 --chdir /app/aimalya
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
